.card {
    height: 598px;
    max-width: 334px;
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.photo {
   height: 334px;
   width: 100%;
   object-fit: cover;
   object-position: top;
}
.about {
    padding: 24px;
    line-height: 28px;
    font-size: 24px;
    flex-grow: 1;
}
.descr {
    font-size: 18px;
}
.title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
.price {
    font-size: 20px;
    font-weight: 500;
}