.container{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 40px;
   
  }
  h2{
    color: brown;
    font-size: 56px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 48px;
  }
.newsLink{
  color: green;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
  
}
.newsLink:hover{
  color: brown;
}
.links{
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}
p{
  margin-bottom: 48px;
}